body {
    background-image: url(Guisadbg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
     }
     .content
     {
     width: 100%;
     position: absolute:absolutetop: 50%
     transform: translateY(-50%);
     text-align: center;
     color: white;    
     }
    .title
     {
    font-size: 80px;
    font-weight: bold;
    color:yellow;  
     }
     h1
     {   
    font-weight: bold;
    color:rgb(200, 255, 0);    
    }
    h3
    {
    font-weight: bold;
    color:white;       
    }
    p
    {
    font-size: 280%;
    color:white; 
    }
    * {
  box-sizing: border-box;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color:green;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  border: solid white;
}
/* On screens that are 768px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
/* On screens that are 320px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 320px) {
    .responsive {
    width: 100%;
    margin: 6px 0; 
  }
}body {
    background-image: url(Guisadbg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
     }
     .content
     {
     width: 100%;
     position: absolute:absolutetop: 50%
     transform: translateY(-50%);
     text-align: center;
     color: white;    
     }
    .title
     {
    font-size: 80px;
    font-weight: bold;
    color:yellow;  
     }
     h1
     {   
    font-weight: bold;
    color:rgb(200, 255, 0);    
    }
    h3
    {
    font-weight: bold;
    color:white;       
    }
    p
    {
    font-size: 280%;
    color:white; 
    }
    * {
  box-sizing: border-box;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color:green;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: solid white;
}
/* On screens that are 768px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
/* On screens that are 320px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 320px) {
    .responsive {
    width: 100%;
    margin: 6px 0; 
  }
}